# Default ignored files
/workspace.xml
/libraries/Gradle__android_android_29.xml
/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
/libraries/Gradle__androidx_annotation_annotation_1_1_0_jar.xml
/libraries/Gradle__androidx_annotation_annotation_experimental_1_0_0_aar.xml
/libraries/Gradle__androidx_appcompat_appcompat_1_2_0_aar.xml
/libraries/Gradle__androidx_appcompat_appcompat_resources_1_2_0_aar.xml
/libraries/Gradle__androidx_arch_core_core_common_2_1_0_jar.xml
/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
/libraries/Gradle__androidx_collection_collection_1_1_0_jar.xml
/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_1_aar.xml
/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_1_jar.xml
/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
/libraries/Gradle__androidx_core_core_1_3_0_aar.xml
/libraries/Gradle__androidx_core_core_1_3_1_aar.xml
/libraries/Gradle__androidx_core_core_ktx_1_3_1_aar.xml
/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_1_0_jar.xml
/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_1_0_aar.xml
/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
/libraries/Gradle__androidx_multidex_multidex_2_0_0_aar.xml
/libraries/Gradle__androidx_multidex_multidex_instrumentation_2_0_0_aar.xml
/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
/libraries/Gradle__androidx_test_core_1_3_0_aar.xml
/libraries/Gradle__androidx_test_espresso_espresso_core_3_3_0_aar.xml
/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_3_0_aar.xml
/libraries/Gradle__androidx_test_ext_junit_1_1_2_aar.xml
/libraries/Gradle__androidx_test_monitor_1_3_0_aar.xml
/libraries/Gradle__androidx_test_runner_1_3_0_aar.xml
/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
/libraries/Gradle__com_google_android_material_material_1_2_1_aar.xml
/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
/libraries/Gradle__com_squareup_javawriter_2_1_1_jar.xml
/libraries/Gradle__javax_inject_javax_inject_1_jar.xml
/libraries/Gradle__junit_junit_4_12_jar.xml
/libraries/Gradle__junit_junit_4_13_jar.xml
/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3_jar.xml
/libraries/Gradle__org_hamcrest_hamcrest_library_1_3_jar.xml
/libraries/Gradle__org_jetbrains_annotations_13_0_jar.xml
/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_4_10_jar.xml
/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_4_10_jar.xml
/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_4_10_jar.xml
